:root {
    --blue-1: #3C429E;
    --blue-2: #4c52ad;
    --yellow-1: #FAC742;
    --white: #fff;
    --grey-1: #ededed;
    --shadow-dark: rgba(0, 0, 0, 0.3);
    --shadow-light: rgba(225, 225, 225, 0.1);
}

* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    width: 100%;
    height: 100vh;
    background-color: var(--blue-1);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../src/assets/6784810.png);
    background-size: cover;
}

.container {
    width: 380px;
    height: 63vh;
    background-color: var(--blue-2);
    border-radius: 55px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
    justify-content: center;
    background-image: url(../src/assets/6784810.png);
}

.upper-data {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10%;
    border: black 10px double;
    background-clip: content-box;
    border-top-right-radius: 10%;
    border: black 10px double;
    background-clip: content-box;
    border-bottom-left-radius: 10%;
    border: black 10px double;
    background-clip: content-box;
    border-bottom-right-radius: 10%;
    border: black 10px double;
    background-clip: content-box;
    z-index: 1;
}

.upperdata img {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 100px;
    width: 100vh;
}

.weather-data {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--shadow-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    bottom: -5px;
    justify-content: space-evenly;
}

.location {
    color: var(--white);
    text-align: center;
    font-size: 3.5em;
}

.temperature {
    color: var(--white);
    height: 20px;
    font-size: 2.1em;
    font-weight: 900;
}

.search {
    margin-bottom: 1em;
    text-align: center;
}

.search input {
    background-color: var(--shadow-light);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 1em;
    color: var(--grey-1);
    font-size: 0.8em;
    text-align: center;
}

.texts {
    text-align: top;
    color: white;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 5px rgb(22, 226, 253);
    text-shadow: rgba(76, 175, 80, 0.3);
}